<template name="packageRestaurants">
  <div class="card mb-3">
    <div class="card-header">
      <i class="fas fa-search-location"></i>
      Filtrar Restaurantes
    </div>
    <div class="card-body">
      <div class="row">
        <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4 form-group">
          <label>
            <b>Nombre:</b>
          </label>
          <br >
          <input type="text" id="name" value="{{name}}" class="form-control">
        </div>
        <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4 form-group">
          <label>
            <b>Departamento:</b>
          </label>
          <br >
          <select id="department" name="department" class="form-control">
            <option value="">(Seleccione Uno)</option>
            {{#each listDepartment}}
              <option value="{{value}}">{{label}}</option>
            {{/each}}
          </select>
        </div>
        <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4 form-group">
          <label>
            <b>Municipio:</b>
          </label>
          <br >
          {{#if deptSelected}}
            <select id="municipality" name="municipality" class="form-control">
              <option value="">(Seleccione Uno)</option>
              {{#each listMunicipality}}
                <option value="{{value}}">{{label}}</option>
              {{/each}}
            </select>
          {{else}}
            <select id="municipality" name="municipality" class="form-control">
              <option value="">(Seleccione Departamento)</option>
            </select>
          {{/if}}
        </div>
        <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4 form-group">
          <label>
            <b>Facilidades para Discapacitados:</b>
          </label>
          <br >
          <select id="facilityPeople" name="facilityPeople" class="form-control">
            <option>Indiferente</option>
            <option value="true">Si</option>
          </select>
        </div>
        <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4 form-group">
          <label>
            <b>Barra:</b>
          </label>
          <br >
          <select id="bar" name="bar" class="form-control">
            <option>Indiferente</option>
            <option value="true">Si</option>
          </select>
        </div>
        <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4 form-group">
          <label>
            <b>Sala de Espera:</b>
          </label>
          <br >
          <select id="waitingRoom" name="waitingRoom" class="form-control">
            <option>Indiferente</option>
            <option value="true">Si</option>
          </select>
        </div>
        <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4 form-group">
          <label>
            <b>Ciudad:</b>
          </label>
          <br >
          <input type="text" id="city" value="{{city}}" class="form-control">
        </div>
        <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4 form-group">
          <label>
            <b>Calle:</b>
          </label>
          <br >
          <input type="text" id="street" value="{{street}}" class="form-control">
        </div>
        <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4 form-group mt-1">
          <label>
            <b>Categorizacion:</b>
          </label>
          <br >
          {{>packageStarRestaurant}}
        </div>
        {{#with sliderVals}}
          <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4 form-group">
            <label for="slider"><b>No. de mesas:</b> {{numbersTables}}</label>
            <br >
            <input type="range" id="sliderNumbersTables" min="0" max="{{tablesMax}}" step="{{tablesStep}}" value="{{numbersTables}}" class="slider" style="width: 100%;">
          </div>
          <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4 form-group">
            <label for="slider"><b>No. de sillas:</b> {{numbersChairs}}</label>
            <br >
            <input type="range" id="sliderNumbersChairs" min="0" max="{{chairsMax}}" step="{{chairsStep}}" value="{{numbersChairs}}" class="slider" style="width: 100%;">
          </div>
          <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4 form-group">
            <label for="slider"><b>No. de sillas para bebes:</b> {{numbersChairsBabies}}</label>
            <br >
            <input type="range" id="sliderNumbersChairsBabies" min="0" max="{{babiesMax}}" step="{{babiesStep}}" value="{{numbersChairsBabies}}" class="slider" style="width: 100%;">
          </div>
          <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4 form-group">
            <label for="slider"><b>Capacidad maxima:</b> {{maxPersonCapacity}}</label>
            <br >
            <input type="range" id="sliderMaxPersonCapacity" min="0" max="{{personMax}}" step="{{personStep}}" value="{{maxPersonCapacity}}" class="slider" style="width: 100%;">
          </div>
        {{/with}}
      </div>
    </div>
  </div>
  {{#each buscar}}
    {{>packageResultRestaurant restaurant=this}}
  {{/each}}
</template>

<template name="packageResultRestaurant">
  {{#with restaurant}}
    <div class="card mb-3">
      <div class="card-header">
        <i class="fas fa-utensils"></i>
        <b>{{name}}</b>
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col-md-auto">
            {{#if images}}
              <div id="contrCarous{{_id}}" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner">
                  {{#each images}}
                    {{#with (findImg this)}}
                      {{#if first @index}}
                        <div class="carousel-item active">
                          <img class="d-block" src="{{link}}" alt="{{name}}" width="256" height="256">
                        </div>
                      {{else}}
                        <div class="carousel-item">
                          <img class="d-block" src="{{link}}" alt="{{name}}" width="256" height="256">
                        </div>
                      {{/if}}
                    {{/with}}
                  {{/each}}
                </div>
                <a class="carousel-control-prev" href="#contrCarous{{_id}}" role="button" data-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="sr-only">Anteroir</span>
                </a>
                <a class="carousel-control-next" href="#contrCarous{{_id}}" role="button" data-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="sr-only">Siguiente</span>
                </a>
              </div>
            {{else}}
              <div class="carousel slide" data-ride="carousel">
                <div class="carousel-inner">
                  <div class="carousel-item active">
                    <img class="d-block" src="/img/placeholder.png" alt="placeholder.jpg" width="256" height="256">
                  </div>
                </div>
              </div>
            {{/if}}
          </div>
          <div class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4">
            <div class="form-group">
              <label>
                <b>Teléfonos:</b>
              </label>
              {{#each telephone}}
                <li>{{this}}</li>
              {{/each}}
            </div>
            <div class="form-group">
              <label>
                <b>Contactos:</b>
              </label>
              {{#each branchContacts}}
                <li>{{name}}, {{role}}</li>
              {{/each}}
            </div>
            <div class="form-group">
              <label>
                <b>Metodos de pago:</b>
              </label>
              {{#each paymentMethods}}
                <li>{{this}}</li>
              {{/each}}
            </div>
            <div class="form-group">
              <label>
                <b>Monedas aceptadas:</b>
              </label>
              {{#each money}}
                <li>{{this}}</li>
              {{/each}}
            </div>
          </div>
          <div class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4">
            <div class="form-group">
              <label>
                <b>Sitio web:</b>
              </label>
              {{#if website}}
                <a href="{{urlTag(website)}}" target="_blank">{{website}}</a>
              {{else}}
                No tiene
              {{/if}}
            </div>
            <div class="form-group">
              <label>
                <b>Ciudad:</b>
                {{city}}
              </label>
            </div>
            <div class="form-group">
              <label>
                <b>Calle:</b>
                {{street}}
              </label>
            </div>
            <div class="form-group">
              <label>
                <b>Municipio:</b>
                {{municipality}}
              </label>
            </div>
            <div class="form-group">
              <label>
                <b>Departamento:</b>
                {{department}}
              </label>
            </div>
          </div>
        </div>
      </div>
      <div class="card-footer small text-muted">
        {{#if selected _id}}
          <button class="btn btn-outline-danger ml-3" id="packageRemoveRestaurant">
            <i class="fas fa-minus-square"></i> Quitar
          </button>
        {{else}}
          <button class="btn btn-outline-primary ml-3" id="packageAddRestaurant">
            <i class="fas fa-plus-square"></i> Agregar
          </button>
        {{/if}}
      </div>
    </div>
  {{/with}}
</template>

<template name="packageStarRestaurant">
  <div>
    <p>
      {{#each list}}
        <i style="font-size: 1.3rem; cursor: pointer;" id="{{id}}" class="{{class}}"></i>
      {{/each}}
    </p>
  </div>
</template>
