<template name="infoGuideModal" >
  <div class="modal fade" id="infoGuide" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Mostrando Flota</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          {{#with Guide}}
          <div class="row">
            <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
              <div class="form-group">
                <label for=""><b>Nombre:</b></label>
                <p>{{name}}</p>
              </div>
            </div>
            <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
              <div class="form-group">
                <label for=""><b>Correo:</b></label>
                <p>{{email}}</p>
              </div>
            </div>
            <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
              <div class="form-group">
                <label for=""><b>Destino:</b></label>
                <p>{{destination}}</p>
              </div>
            </div>
            <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
              <div class="form-group">
                <label for=""><b>Teléfono:</b></label>
                <p>{{telephone}}</p>
              </div>
            </div>
            <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
              <div class="form-group">
                <label for=""><b>Calle:</b></label>
                <p>{{street}}</p>
              </div>
            </div>
            <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
              <div class="form-group">
                <label for=""><b>Ciudad:</b></label>
                <p>{{city}}</p>
              </div>
            </div>
            <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
              <div class="form-group">
                <label for=""><b>Departamento:</b></label>
                <p>{{department}}</p>
              </div>
            </div>
            <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
              <div class="form-group">
                <label for=""><b>Licencia:</b></label>
                <p>{{license}}</p>
              </div>
            </div>
            <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
              <div class="form-group">
                <label for=""><b>Categorización:</b></label>
                <p>{{categorization}} estrellas</p>
              </div>
            </div>
            <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
              <div class="form-group">
                <label for=""><b>Información de Servicios:</b></label>
                <ul>
                  {{#each services}}
                    <li>{{this}}</li>
                  {{/each}}
                </ul>
              </div>
            </div>
            <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
              <div class="form-group">
                <label for=""><b>Métodos de Pago:</b></label>
                <ul>
                  {{#each paymentMethods}}
                    <li>{{this}}</li>
                  {{/each}}
                </ul>
              </div>
            </div>
            <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
              <div class="form-group">
                <label for=""><b>Monedas:</b></label>
                <ul>
                  {{#each money}}
                    <li>{{this}}</li>
                  {{/each}}
                </ul>
              </div>
            </div>
            {{#if creditCards }}
            <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
              <div class="form-group">
                <label for=""><b>Tarjetas de Crédito:</b></label>
                <ul>
                  {{#each creditCards}}
                    <li>{{this}}</li>
                  {{/each}}
                </ul>
              </div>
            </div>
            {{/if}}
          </div>
          {{/with}}
        </div>
        <div class="modal-footer text-center">
          <button type="button" class="btn btn-danger w-100" data-dismiss="modal">Cerrar</button>
        </div>
      </div>
    </div>
  </div>
</template>