<template name="addRoomHotel">
  <div class="modal fade" id="addRoomHotel" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Agregando Habitación</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          {{#autoForm
            id="addRoomForm"
            schema=RoomHotelSchema
            type= "method"
            meteormethod="addRoomHotel"
          }}
            {{>afQuickField name="idHotel" value=idHotel }}
            {{>afQuickField name="price" }}
            {{>afQuickField name="type" }}
            {{>afQuickField name="extraBed" }}
            {{>afQuickField name="roomSize" }}
            {{>afQuickField name="menage" }}
            <div class="text-center mt-4">
              <button class="btn btn-primary w-75" type="submit">Agregar</button>
            </div>
          {{/autoForm}}
        </div>
      </div>
    </div>
  </div>
</template>