<template name="infoBranchHotel" >
  <div class="modal fade" id="infoBranchHotel" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Mostrando Sucursal</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          {{#with branchHotel}}
          <div class="form-group">
            <label for=""><b>Municipio:</b> {{municipality}}</label>
          </div>
          <div class="form-group">
            <label for=""><b>Departamento:</b> {{departament}}</label>
          </div>
          {{/with}}
        </div>
        <div class="modal-footer text-center">
          <button type="button" class="btn btn-danger w-100" data-dismiss="modal">Cerrar</button>
        </div>
      </div>
    </div>
  </div>
</template>