<template name="chatSide">

  <div id="accordion" class="chat-menu">
    <div class="d-flex justify-content-end align-content-end align-items-end">
      {{#if maxOpenChats}}
      <div class="d-flex flex-row btn-group btn-group-sm" style="margin: 0.5rem">
        {{#if leftArrow}}
        <i id="leftArrow" class="fas fa-caret-left pointer btn btn-outline-dark"></i>
        {{/if}}
        <div class="dropup">
          <i class="fas fa-ellipsis-v pointer btn btn-outline-dark" data-toggle="dropdown"></i>
          <div class="dropdown-menu" style="padding: 0">
            {{#each user in getBackups}}
            <div class="dropdown-item list-group-item list-group-item-action d-flex flex-nowrap">
              {{#if user.status.online}}
              <i class="fas fa-circle fa-xs mr-auto pointer" style="color: #52BE80"></i>
              {{/if}}
              <div id="{{user._id}}" class="menu-backup mr-auto flex-fill card-link pointer" data-toggle="collapse" aria-expanded="false">
                <small style="color:rgba(209, 121, 121, 0)"> -</small>
                {{user.profile.firstName}} {{user.profile.lastName}}
                <small style="color:rgba(209, 121, 121, 0)"> -</small>
              </div>
              {{#if (hasNotifications user._id)}}
              <div class="ml-auto" style="justify-content: center;">
                  <span class="badge badge-pill badge-dark">{{cantNotifications user._id}}</span>
                  <small style="color:rgba(209, 121, 121, 0)"> -</small>
              </div>
              {{/if}}
              <i id="{{user._id}}" class="closeChat fas fa-times ml-auto pointer"></i>
            </div>
            {{/each}}
          </div>
        </div>
        {{#if rightArrow}}
        <i id="rightArrow" class="fas fa-caret-right pointer btn btn-outline-dark"></i>
        {{/if}}
      </div>
      {{/if}}
      {{#each context in openChats }}
      <div class="flex-fill d-flex align-content-end" style="max-width: fit-content; padding: 0; height: max-content;">
        {{>chat contextData=context }}
      </div>
      {{/each}}
      <div class="flex-fill d-flex align-content-end" style="max-width: fit-content; padding: 0; height: max-content;">
        {{>chatUserMenu}}
      </div>
    </div>
  </div>

</template>