<template name="chatUserMenu">
  <div class="card" style="background: #343a40; max-width: fit-content;">
    <div class="card-header Menu_Chat_Text pointer" data-toggle="collapse" href="#chat-user-menu" style="background: #343a40">
      {{#if isUsing}}
      <a class="card-link mx-auto" style="color: white">
        Usuarios <small style="color:rgba(209, 121, 121, 0)"> -</small>
        <i class="fas fa-comments"></i>
      </a>
      {{else}}
      <a class="card-link mx-auto" style="color: white">
        <i class="far fa-comments"></i>
      </a>
      {{/if}}
    </div>
    <div id="chat-user-menu" class="collapse hidde" data-parent="#accordion">
      <div class="card-body" style="max-height: 60vh; background: #fcfcfc; color: rgb(94, 94, 94); overflow: auto; padding: 0;">
        <div class="list-group">
            <i style="text-align: center">---- Conectado ----</i>
          {{#each user in connectedUsers }}
          <a href="#" id="{{user._id}}" class="chatWith list-group-item list-group-item-action d-flex flex-nowrap">
            {{#if user.status.online}}
            <i class="fas fa-circle fa-xs mr-auto pointer" style="color: #52BE80"></i>
            {{/if}}
            <div class="mr-auto flex-fill card-link pointer" data-toggle="collapse" href="#{{contextData.Issuer._id}}-chat"
              aria-expanded="false">
              <small style="color:rgba(209, 121, 121, 0)"> -</small>
              {{user.profile.firstName}} {{user.profile.lastName}}
            </div>
            {{#if (hasNotifications user._id)}}
            <div class="ml-auto" style="justify-content: center;">
              <span class="badge badge-pill badge-dark">{{cantNotifications user._id}}</span>
            </div>
            {{/if}}
          </a>
          {{/each}}
          <i style="text-align: center">---- Desconectado ----</i>
          {{#each user in disconnectedUsers }}
          <a href="#" id="{{user._id}}" class="chatWith list-group-item list-group-item-action d-flex flex-nowrap">
            <div class="mr-auto flex-fill card-link pointer" data-toggle="collapse" href="#{{contextData.Issuer._id}}-chat"
              aria-expanded="false">
              <small style="color:rgba(209, 121, 121, 0)"> -</small>
              {{user.profile.firstName}} {{user.profile.lastName}}
            </div>
            {{#if (hasNotifications user._id)}}
            <div class="ml-auto" style="justify-content: center;">
              <span class="badge badge-pill badge-dark">{{cantNotifications user._id}}</span>
            </div>
            {{/if}}
          </a>
          {{/each}}
        </div>
      </div>
      <div class="card-footer" style="background: #ececec;">
        <div class="input-group align-self-stretch flex-grow-1">
          <input type="input" class="searchChatWith form-control" placeholder="Buscar..." rows="1" />
          <div class="input-group-append">
            <button class="btn btn-dark"><i class="fas fa-search"></i></button>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>