<template name="dashboardNavbar">
  <nav class="navbar navbar-expand navbar-dark bg-dark static-top">

    <a class="navbar-brand mr-1" href="/dashboard">Esther Tours</a>

    <button class="btn btn-link btn-sm text-white order-1 order-sm-0" id="sidebarToggle" href="#">
      <i class="fas fa-bars"></i>
    </button>

    <div class="d-none d-md-inline-block form-inline ml-auto mr-0 mr-md-3 my-2 my-md-0"></div>

    <!-- Navbar -->
    <ul class="navbar-nav float-right ml-auto">
      {{#if isOperator}}
        <li class="nav-item dropdown no-arrow mx-1">
          <a class="nav-link dropdown-toggle" href="#" id="alertsDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="fas fa-box"></i>
            {{#if isCreatePackage}}
              <span class="badge badge-danger">.</span>
            {{/if}}
          </a>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="messagesDropdown">
            {{#if isCreatePackage}}
              <a class="dropdown-item" href="/adding-package">Ver Paquete</a>
              <a id="deletePackage" class="dropdown-item" href="#">Eliminar Paquete</a>
            {{else}}
              <a id="createPackage" class="dropdown-item" href="#">Iniciar empaquetado</a>
            {{/if}}
          </div>
        </li>
      {{/if}}
      <!-- {{#if isConsultant}}
        <li class="nav-item dropdown no-arrow mx-1">
          <a class="nav-link dropdown-toggle" href="#" id="alertsDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="fas fa-box"></i>
            {{#if isCreatePackage}}
              <span class="badge badge-danger">.</span>
            {{/if}}
          </a>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="messagesDropdown">
            {{#if isCreatePackage}}
              <a class="dropdown-item" href="/adding-package">Ver Paquete</a>
              <a id="deletePackage" class="dropdown-item" href="#">Eliminar Paquete</a>
            {{else}}
              <a id="createPackage" class="dropdown-item" href="#">Iniciar empaquetado</a>
            {{/if}}
          </div>
        </li>
      {{/if}} -->
      <li class="nav-item dropdown no-arrow mx-1">
        <a class="nav-link dropdown-toggle" href="#" id="messagesDropdown" role="button" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          <i class="fas fa-envelope fa-fw"></i>
          {{#if hasNotifications}}
          <span class="badge badge-danger">{{cantNotifications}}</span>
          {{/if}}
        </a>
        <div id="ChatNotifications" class="dropdown-menu dropdown-menu-right chatNotificationMenu" aria-labelledby="messagesDropdown">
          {{#each noti in getNotifications}}
          {{#if landscape}}
          <a id={{noti.idIssuer}} class="dropdown-item chatWithNotification chatNotificationItem" href="#">
            <span class="badge badge-pill badge-dark">{{noti.amount}}</span>
            {{getIssuer noti.idIssuer }}:
            <small><i>{{noti.lastMessage}}</i></small>
          </a>
          {{else}}
          <a id={{noti.idIssuer}} class="dropdown-item chatWithNotification chatNotificationItem" href="/ChatPage">
              <span class="badge badge-pill badge-dark">{{noti.amount}}</span>
              {{getIssuer noti.idIssuer }}:
              <small><i>{{noti.lastMessage}}</i></small>
            </a>
          {{/if}}
          {{else}}
          <i>No hay notificaciones</i>
          {{/each}}
        </div>
      </li>
      <li class="nav-item dropdown no-arrow">
        <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          <i class="fas fa-user-circle fa-fw"></i>
        </a>
        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="userDropdown">
          
            <div class="dropdown-header"><strong>{{username}}</strong><small> - {{role}}</small></div>
          <a class="dropdown-item" href="/update-profile">Perfil</a>
          <a class="dropdown-item" href="/my-activity">Mi actividad</a>
          <div class="dropdown-divider"></div>
          <span class="dropdown-item" id="exit" >Salir</span>
        </div>
      </li>
    </ul>
  </nav>
  {{>namePackageModal title="Agregando Nombre Paquete" }}
</template>