<template name="infoRestaurantOffer" >
    <div class="modal fade" id="infoRestaurantOffer" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Mostrando Oferta</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            {{#with restaurantOffer}}
            <div class="form-group">
              <label for=""><b>Tipo de Comida:</b> {{typeFood}}</label>
            </div>
            <div class="form-group">
              <label for=""><b>Precio:</b> {{>convertDecimal}}</label>
            </div>
            <div class="form-group">
              <label for=""><b>Nombre del Plato:</b> {{dishName}}</label>
            </div>
            {{/with}}
          </div>
          <div class="modal-footer text-center">
            <button type="button" class="btn btn-danger w-100" data-dismiss="modal">Cerrar</button>
          </div>
        </div>
      </div>
    </div>
  </template>