<template name="leftMenu">
  <!-- Sidebar -->
  <ul class="sidebar navbar-nav">
    <li class="nav-item ">
      <a class="nav-link" href="/">
        <i class="fas fa-fw fa-tachometer-alt"></i>
        <span>Dashboard</span>
      </a>
    </li>
    {{#if isAdmin}}
    <li class="nav-item">
      <a class="nav-link" href="/users">
        <i class="fas fa-fw fa-table"></i>
        <span>Usuarios</span></a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/offices">
        <i class="fas fa-fw fa-table"></i>
        <span>Sucursales</span></a>
    </li>
    {{/if}}
    {{#if isLoggedIn}}
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" href="#" id="pagesDropdown" role="button" data-toggle="dropdown"
        aria-haspopup="true" aria-expanded="false">
        <i class="fas fa-fw fa-folder"></i>
        <span>Perfil</span>
      </a>
      <div class="dropdown-menu" aria-labelledby="pagesDropdown">
        <a class="dropdown-item" href="/update-profile">Actualizar Perfil</a>
        <a class="dropdown-item" href="/change-password">Cambiar Contraseña</a>
      </div>
    </li>
    {{/if}}
    {{#if isOperator}}
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" href="#" id="pagesDropdown" role="button" data-toggle="dropdown"
        aria-haspopup="true" aria-expanded="false">
        <i class="fas fa-fw fa-folder"></i>
        <span>Restaurantes</span>
      </a>
      <div class="dropdown-menu" aria-labelledby="pagesDropdown">
          <a class="dropdown-item" href="/addRestaurant">Agregar Restaurante</a>
          <a class="dropdown-item" href="/listRestaurants">Tabla Restaurantes</a>
      </div>
    </li>
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" href="#" id="pagesDropdown" role="button" data-toggle="dropdown"
        aria-haspopup="true" aria-expanded="false">
        <i class="fas fa-fw fa-folder"></i>
        <span>Arrendadoras</span>
      </a>
      <div class="dropdown-menu" aria-labelledby="pagesDropdown">
        <a class="dropdown-item" href="/add-renters">Agregar Arrendadora</a>
        <a class="dropdown-item" href="/list-renters">Tabla Arrendadoras</a>
      </div>
    </li>
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" href="#" id="pagesDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <i class="fas fa-fw fa-folder"></i>
        <span>Guías</span>
      </a>
      <div class="dropdown-menu" aria-labelledby="pagesDropdown">
        <a class="dropdown-item" href="/add-guide">Agregar Guías</a>
        <a class="dropdown-item" href="/list-guide">Tabla Guías</a>
      </div>
    </li>
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" href="#" id="pagesDropdown" role="button" data-toggle="dropdown"
        aria-haspopup="true" aria-expanded="false">
        <i class="fas fa-fw fa-car"></i>
        <span>Transporte</span>
      </a>
      <div class="dropdown-menu" aria-labelledby="pagesDropdown">
        <a class="dropdown-item" href="/add-transportation-establishment">Agregar Transporte</a>
        <a class="dropdown-item" href="/list-transportation-establishment">Tabla Transporte</a>
      </div>
    </li>
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" href="#" id="pagesDropdown" role="button" data-toggle="dropdown" aria-haspopup="true"
        aria-expanded="false">
        <i class="fas fa-fw fa-folder"></i>
        <span>Hoteles</span>
      </a>
      <div class="dropdown-menu" aria-labelledby="pagesDropdown">
        <a class="dropdown-item" href="/add-hotels">Agregar hoteles</a>
        <a class="dropdown-item" href="/list-hotels">Tabla de Hoteles</a>
        <a class="dropdown-item" href="/filter-room-hotel">Filtrar cuartos de hotel</a>
      </div>
    </li>
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" href="#" id="pagesDropdown" role="button" data-toggle="dropdown" aria-haspopup="true"
        aria-expanded="false">
        <i class="fas fa-fw fa-folder"></i>
        <span>Paquetes</span>
      </a>
      <div class="dropdown-menu" aria-labelledby="pagesDropdown">
        <a class="dropdown-item" href="/add-packages">Agregar Paquetes</a>
        <a class="dropdown-item" href="/list-packages">Tabla de Paquetes</a>
      </div>
    </li>
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" href="#" id="pagesDropdown" role="button" data-toggle="dropdown" aria-haspopup="true"
        aria-expanded="false">
        <i class="fas fa-fw fa-folder"></i>
        <span>Atracciones</span>
      </a>
      <div class="dropdown-menu" aria-labelledby="pagesDropdown">
        <a class="dropdown-item" href="/add-attractions">Agregar atracciones</a>
        <a class="dropdown-item" href="/list-attractions">Tabla de atracciones</a>
        <a class="dropdown-item" href="/filter-attractions">Filtrar atracciones</a>
      </div>
    </li>
    {{/if}}
    {{#if isConsultant}}
      <li class="nav-item">
        <a class="nav-link" href="/hotel-query">
          <i class="fas fa-fw fa-table"></i>
          <span>Consultas de Hoteles</span>
        </a>
      </li>
      <li class="nav-item ">
        <a class="nav-link" href="/consult-restaurant">
          <i class="fas fa-utensils"></i>
          <span>Consultar Restaurante</span>
        </a>
      </li>
      <li class="nav-item ">
        <a class="nav-link" href="/find-guide">
          <i class="fas fa-table"></i>
          <span>Consulta Guía</span>
        </a>
      </li>
      <li class="nav-item ">
        <a class="nav-link" href="/find-renters">
          <i class="fas fa-table"></i>
          <span >Consultar Arrendadoras</span>
        </a>
      </li>
      <li class="nav-item ">
        <a class="nav-link" href="/find-transport">
          <i class="fas fa-fw fa-car"></i>
          <span>Consulta Transporte</span>
        </a>
      </li>
      <li class="nav-item ">
        <a class="nav-link" href="/find-packages">
          <i class="fas fa-table"></i>
          <span>Consulta Paquetes</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/attraction-query">
          <i class="fas fa-fw fa-table"></i>
          <span>Consultas de Atracciones</span>
        </a>
      </li>
    {{/if}}
  </ul>
</template>
