<template name="packageRoomHotel">
  <div class="card mb-3">
    <div class="card-header">
      <i class="fas fa-search-location"></i>
      <b>Filtrar Cuartos de Hotel</b>
    </div>
    <div class="card-body">
      <div class="row">
        <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4 form-group">
          <label>
            <b>Nombre de hotel:</b>
          </label>
          <br >
          <input type="text" id="name" value="{{name}}" class="form-control">
        </div>
        <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4 form-group">
          <label>
            <b>Departamento:</b>
          </label>
          <br >
          <select id="department" name="department" class="form-control">
            <option value="">(Seleccione Uno)</option>
            {{#each listDepartment}}
              <option value="{{value}}">{{label}}</option>
            {{/each}}
          </select>
        </div>
        <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4 form-group">
          <label>
            <b>Municipio:</b>
          </label>
          <br >
          {{#if deptSelected}}
            <select id="municipality" name="municipality" class="form-control">
              <option value="">(Seleccione Uno)</option>
              {{#each listMunicipality}}
                <option value="{{value}}">{{label}}</option>
              {{/each}}
            </select>
          {{else}}
            <select id="municipality" name="municipality" class="form-control">
              <option value="">(Seleccione Departamento)</option>
            </select>
          {{/if}}
        </div>
        <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4 form-group">
          <label>
            <b>Ciudad:</b>
          </label>
          <br >
          <input type="text" id="city" value="{{city}}" class="form-control">
        </div>
        <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4 form-group">
          <label>
            <b>Calle:</b>
          </label>
          <br >
          <input type="text" id="street" value="{{street}}" class="form-control">
        </div>
        <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4 form-group mt-1">
          <label>
            <b>Categorizacion:</b>
          </label>
          <br >
          {{>packageStarRoomHotel}}
        </div>
        <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4 form-group">
          <label for="slider"><b>Precio maximo:</b> Lps. {{precioMax}}</label>
          <br >
          <input type="range" id="sliderMax" min="0" max="20000" step="1000" value="{{precioMax}}" class="slider" style="width: 100%;">
        </div>
      </div>
    </div>
  </div>
  {{#each buscar}}
    {{>packageResultRoomHotel hotel=this}}
  {{/each}}
</template>

<template name="packageResultRoomHotel">
  {{#with hotel}}
    <div class="card mb-3">
      <div class="card-header">
        <i class="fas fa-door-open"></i>
        <b>{{name}}</b>
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col-md-auto">
            {{#if images}}
              <div id="contrCarous{{_id}}" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner">
                  {{#each images}}
                    {{#with (findImg this)}}
                      {{#if first @index}}
                        <div class="carousel-item active">
                          <img class="d-block" src="{{link}}" alt="{{name}}" width="256" height="256">
                        </div>
                      {{else}}
                        <div class="carousel-item">
                          <img class="d-block" src="{{link}}" alt="{{name}}" width="256" height="256">
                        </div>
                      {{/if}}
                    {{/with}}
                  {{/each}}
                </div>
                <a class="carousel-control-prev" href="#contrCarous{{_id}}" role="button" data-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="sr-only">Anteroir</span>
                </a>
                <a class="carousel-control-next" href="#contrCarous{{_id}}" role="button" data-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="sr-only">Siguiente</span>
                </a>
              </div>
            {{else}}
              <div class="carousel slide" data-ride="carousel">
                <div class="carousel-inner">
                  <div class="carousel-item active">
                    <img class="d-block" src="/img/placeholder.png" alt="placeholder.jpg" width="256" height="256">
                  </div>
                </div>
              </div>
            {{/if}}
          </div>
          <div class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4">
            <div class="form-group">
              <label>
                <b>Teléfonos:</b>
              </label>
              {{#each phone}}
                <li>{{this}}</li>
              {{/each}}
            </div>
            <div class="form-group">
              <label>
                <b>Contactos:</b>
              </label>
              {{#each branchContacts}}
                <li>{{name}}, {{role}}</li>
              {{/each}}
            </div>
            <div class="form-group">
              <label>
                <b>Metodos de pago:</b>
              </label>
              {{#each paymentsMethod}}
                <li>{{this}}</li>
              {{/each}}
            </div>
            <div class="form-group">
              <label>
                <b>Monedas aceptadas:</b>
              </label>
              {{#each coin}}
                <li>{{this}}</li>
              {{/each}}
            </div>
          </div>
          <div class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4">
            <div class="form-group">
              <label>
                <b>Precio:</b> Lps. {{price}}
              </label>
            </div>
            <div class="form-group">
              <label>
                <b>Tipo de habitacion:</b> {{type}}
              </label>
            </div>
            <div class="form-group">
              <label>
                <b>Camas extra:</b> {{extraBed}}
              </label>
            </div>
            <div class="form-group">
              <label>
                <b>Tamaño:</b> {{roomSize}}
              </label>
            </div>
          </div>
        </div>
      </div>
      <div class="card-footer small text-muted">
        <button class="btn btn-outline-primary ml-3" id="packageAddRoom">
          {{#if selected _id}}
            <i class="fas fa-check-square"></i> Seleccionado
          {{else}}
            <i class="fas fa-plus-square"></i> Agregar
          {{/if}}
        </button>
      </div>
    </div>
  {{/with}}
</template>

<template name="packageStarRoomHotel">
  <div>
    <p>
      {{#each list}}
        <i style="font-size: 1.3rem; cursor: pointer;" id="{{id}}" class="{{class}}"></i>
      {{/each}}
    </p>
  </div>
</template>
