<template name="bodyAdmin">
  {{#if isBlocked }}
  <h1 style="text-align: center">¡Su usuario ha sido bloqueado por el administrador!</h1>
  <h3 style="text-align: center">Por favor, contáctese con el administrador para más información.</h3><br>
  <div class="center">

    <button type="button" id="logout" class="btn btn-outline-danger btn-block w-75 mx-auto">Salir</button>
  </div>
  {{else}}
  {{>dashboardNavbar}}
  <div id="wrapper" style="overflow:hidden">
    {{>leftMenu}}
    <div id="content-wrapper" class="disable-scrollbars" style="height: 90vh; overflow-y: scroll;">
      <div class="container-fluid" style="height: 100%;">
        {{>breadcrumb}}
        {{>yield}}
      </div>
    </div>
  </div>
  {{#if ShowChatFixed}}
  {{>chatSide}}
  {{/if}}
  {{/if}}
  {{>scripts}}
</template>