<template name="chat">
  <div class="card" style="background: #212529; max-width: 19rem;">
    <div class="card-header d-flex flex-nowrap align-content-end" style="background: #212529; color: white; padding-left: 12;">
      {{#if contextData.Issuer.status.online}}
      <i class="fas fa-circle fa-xs mr-auto pointer" style="color: #52BE80"></i>
      {{else}}
      <i class="far fa-circle fa-xs mr-auto pointer"></i>
      {{/if}}
      <div id="ChatHeader{{contextData.Issuer._id}}" class="mr-auto flex-fill ChatHeader card-link pointer" data-toggle="collapse"
        href="#{{contextData.Issuer._id}}-chat" aria-expanded="false">
        <small style="color:rgba(209, 121, 121, 0)"> -</small>
        {{contextData.Issuer.profile.firstName}} {{contextData.Issuer.profile.lastName}}
        <small style="color:rgba(209, 121, 121, 0)"> -</small>
      </div>
      <i class="closeChat fas fa-times ml-auto pointer"></i>
    </div>
    <div id="{{contextData.Issuer._id}}-chat" class="collapse hidde" data-parent="#accordion">
      <div id="Cat{{contextData.Issuer._id}}" class="card-body" style="max-height: 30vh; background: #fcfcfc; color: rgb(94, 94, 94); overflow: auto !important; text-align: center;">
        {{#if isOpen}}
        {{/if}}
        {{#each message in messages}}
        {{#if (isReceiver message.idReceiver ) }}
        <div class="alert alert-secondary" style="text-align: left; max-width: max-content;">
          <strong>{{contextData.Issuer.profile.firstName}}: </strong>{{message.message}}
        </div>
        {{else}}
        <div class="alert alert-info" style="text-align: left; max-width: max-content;">
          <strong>Tú: </strong>{{message.message}}
          {{#if (isSent message.status)}}
          <i class="fas fa-check float-sm-right" style="margin-left: 1rem;"></i>
          {{/if}}
          {{#if (isReceived message.status)}}
          <i class="fas fa-check-double float-sm-right" style="margin-left: 1rem;"></i>
          {{/if}}
          {{#if (isRead message.status)}}
          <i class="fas fa-check-double fa-xs float-sm-right" style="color: orange; margin-left: 1rem;"></i>
          {{/if}}
        </div>
        {{/if}}
        {{else}}
        <i>---- No hay mensajes ----</i>
        {{/each}}
        <span id="ChatBottom"> </span>
      </div>
      <div class="card-footer" style="background: #ececec; padding-top: 0">
        <div class="input-group">
          {{#autoForm
          id="SendChatForm"
          schema=ChatSchema
          type="method"
          doc=chatDoc
          meteormethod="sendMessage"
          }}
          {{>afQuickField name="idReceiver" value=contextData.Issuer._id }}
          {{>afQuickField name="idIssuer" value=idReceiver }}
          {{>afQuickField name="status" value=1}}
          <div class="input-group">
            <textarea autocomplete="off" class="form-control" placeholder="Mensaje..." type="text" name="message" id="MeMndYdc2YX2EsMvi"
              required="" data-schema-key="message" rows="1.5" style="resize: none;"></textarea>
            <div class="input-group-append">
              <button class="btn btn-dark sendMessage" type="submit"><i class="fas fa-chevron-circle-right"></i></button>
            </div>
          </div>
          {{/autoForm}}
        </div>
      </div>
    </div>
  </div>
</template>