<template name="chat">
  <div class="card" style="background: #212529; max-width: 19rem;">
    <div class="User-chat-status" style="margin-top:5px; margin-left:15px; height: 5px; width:50%; background:white;"></div>
    <div class="card-header d-flex flex-nowrap" style="background: #212529; color: white">
      <div id="ChatHeader{{contextData.Issuer._id}}" class="p-2 mr-auto flex-fill ChatHeader card-link pointer" data-toggle="collapse"
        href="#{{contextData.Issuer._id}}-chat" aria-expanded="false">
        {{contextData.Issuer.profile.firstName}} {{contextData.Issuer.profile.lastName}}
    </div>
      <i class="closeChat fas fa-times p-2 ml-auto pointer"></i>
    </div>
    <div id="{{contextData.Issuer._id}}-chat" class="collapse hidde" data-parent="#accordion">
      <div id="Cat{{contextData.Issuer._id}}" class="card-body" style="max-height: 30vh; background: #fcfcfc; color: rgb(94, 94, 94); overflow: auto !important; text-align: center;">
        {{#if isOpen}}
        {{/if}}
        {{#each message in messages}}
        {{#if (isReceiver message.idReceiver ) }}
        <div class="alert alert-secondary" style="text-align: left; max-width: max-content; word-wrap: break-word; word-break: break-all;">
          <strong>{{contextData.Issuer.profile.firstName}}: </strong>{{message.message}} <a class="alert-link"></a>
        </div>
        {{else}}
        <div class="alert alert-info" style="text-align: left; max-width: max-content; word-wrap: break-word; word-break: break-all;">
          <strong>Tú: </strong>{{message.message}}
        </div>
        {{/if}}
        {{else}}
        <i>---- No hay mensajes ----</i>
        {{/each}}
        <span id="ChatBottom"> </span>
      </div>
      <div class="card-footer" style="background: #ececec; padding-top: 0">
        <div class="input-group">
          {{#autoForm
          id="SendChatForm"
          schema=ChatSchema
          type="method"
          doc=chatDoc
          meteormethod="sendMessage"
          }}
          {{>afQuickField name="idReceiver" value=contextData.Issuer._id }}
          {{>afQuickField name="idIssuer" value=idReceiver }}
          {{>afQuickField name="status" value=1}}
          <div class="input-group">
            <textarea autocomplete="off" class="form-control" placeholder="Mensaje..." type="text" name="message" id="MeMndYdc2YX2EsMvi"
              required="" data-schema-key="message" rows="1.5" style="resize: none;"></textarea>
            <div class="input-group-append">
              <button class="btn btn-dark sendMessage" type="submit"><i class="fas fa-chevron-circle-right"></i></button>
            </div>
          </div>
          {{/autoForm}}
        </div>
      </div>
    </div>
  </div>
</template>